<div class="clientNpartner">
  <h3 class="text-center top_bl">고객센터 및 제휴문의</h3>
  <h4 class="text-center bold">고객센터: <a href="tel:1600-8218">1600-8218</a></h4>
  <h4 class="text-center bold">전자우편: <a href="mailto:info@chadaeli.com">info@chadaeli.com</a></h4>
  <h4 class="text-center bold">플러스친구: <a href="http://plus.kakao.com/home/ov0qv67l" target="_blank">@중고차의달인차대리</a></h4>
  <div class="text-center sns_part">
    <a href="tel:1600-8218" class="ico_sns btn_cell">바로전화</a>
    <a href="https://www.facebook.com/chadaeli7/" class="ico_sns btn_fb" target="_blank">페이스북</a>
    <a href="https://www.instagram.com/chadaeli/" class="ico_sns btn_insta" target="_blank">인스타그램</a>
    <a href="http://blog.naver.com/chadaeli" class="ico_sns btn_blog" target="_blank">네이버블로그</a>
    <a href="https://www.youtube.com/channel/UCSqBhJZa71pUHwIuEj8rjMQ" class="ico_sns btn_youtube" target="_blank">유튜브</a>
    <a href="http://plus.kakao.com/home/ov0qv67l" class="ico_sns btn_plus" target="_blank">플러스친구</a>
  </div>
</div>