<div class="event">
  <h3 class="text-center top_bl">진행중인 이벤트</h3>
  <ol class="evt_list">
    {{! <li><a href="/event"><img src="/static/images/event/evt_follow_front.jpg" alt="인스타그램 팔로우 이벤트" class="img_evt" /></a></li> }}
    <!--<li class="col-md-6"><a href="http://blog.naver.com/chadaeli/221021570980" target="_blank" class="link_evt"><img src="/static/images/event/evt_regram.jpg" alt="차대리 인스타그램 이벤트" class="img_evt" /></a></li>-->
    <li class="col-md-6"><a href="http://blog.naver.com/chadaeli/221013704482" target="_blank" class="link_evt"><img src="/static/images/event/evt_reservation.jpg" alt="중고차 예약" class="img_evt" /></a></li>
    <li class="col-md-6"><a href="http://blog.naver.com/chadaeli/220995293024" target="_blank" class="link_evt"><img src="/static/images/event/evt_special_price.jpg" alt="선착순 특가 상품" class="img_evt" /></a></li>
    <li class="col-md-6"><a href="http://blog.naver.com/chadaeli/220994483823" target="_blank" class="link_evt"><img src="/static/images/main/event1.jpg" alt="오픈 기념 이벤트" class="img_evt" /></a></li>
    <li class="col-md-6"><a href="http://blog.naver.com/chadaeli/220994481047" target="_blank" class="link_evt"><img src="/static/images/main/event2.jpg" alt="무상점검 서비스" class="img_evt" /></a></li>
    <li class="col-md-6"><a href="http://blog.naver.com/chadaeli/220994479184" target="_blank" class="link_evt"><img src="/static/images/main/event3.jpg" alt="페이스북 이벤트" class="img_evt" /></a></li>
  </ol>
  <div class="clearfix"></div>
  <a href="/event" class="font15 bold blue btn-more" target="_blank">다 보기</a>
</div>
<div class="clearfix"></div>