<!--<footer class="m_footer center">-->
  <!--<small>* 본 서비스의 모든 디자인과 상표권은 법적 보호를 받고 있으며, 이를 사전 허가 없이 도용할 경우 법적 책임을 물을 수 있습니다. </small><br /><br />-->
  <!--<address class="center">-->
    <!--상호 : 중고차 1등 안전거래, 차대리 <span class="sm"></span><br />-->
    <!--제이코퍼레이션 대표 이재준<br />-->
    <!--사업자번호 : 849·05·00337<br />-->
    <!--특별 제휴 상사 : 경기도 수원시 권선구 고색동 12-2 수원매매단지 성원자동차 대표 김성원 <br />-->
    <!--제휴 단지 : 경기도 수원시 권선구 고색동 12-2 수원자동차경매단지<br />-->
    <!--고객센터 : <a href="tel:1600-8218">1600-8218</a><br />-->
    <!--전자메일 : <a href="mailto:info@chadaeli.com">info@chadaeli.com</a>-->
  <!--</address>-->
  <!--&lt;!&ndash;<img src="/static/images/icon/btn_kakaotalk.gif" alt="" />&ndash;&gt;-->
  <!--<div class="channels center">-->
    <!--<a href="/privacy" target="_blank">개인정보취급방침</a> ·-->
    <!--<a href="/request" target="_blank">문의하기</a> ·-->
    <!--<a href="https://www.youtube.com/channel/UCSqBhJZa71pUHwIuEj8rjMQ" target="_blank">유튜브 바로가기</a> ·-->
    <!--<a href="https://www.facebook.com/chadaeli7/" target="_blank">페이스북 바로가기</a> ·-->
    <!--<a href="https://www.instagram.com/chadaeli/" target="_blank">인스타그램 바로가기</a> ·-->
    <!--<a href="https://twitter.com/chadaeli7" target="_blank">트위터 바로가기</a>-->
    <!--<br /><br />-->
    <!--<address class="text-center">Copyright ⓒ 2016 <strong>chadaeli.com</strong> All rights reserved.</address>-->
  <!--</div>-->
<!--</footer>-->