<div class="m_cloud">
  <ul class="cloud_list clearfix">
    <li class="telArea_list">
      <a href="tel:1600-8218" class="cloud_link telAreaLink">
        <strong class="block" style="padding-top: 3px;">
          <span class="font14 block">고객센터</span>
          <span class="font19">1600-8218</span>
        </strong>
      </a>
    </li>
    <li>
      <a href="/request" class="cloud_link">
        <span class="f_up"><img src="/static/images/mobile/ico_channel.gif" alt="홍보채널" width="16" class="f_ico" /></span>
        <span class="font14">내차예약</span>
      </a>
    </li>
    <li>
      <a href="#문의하기" class="cloud_link btnChatAndMail">
        <span class="f_up"><img src="/static/images/mobile/ico_chat.gif" alt="문의하기" width="16" class="f_ico" /></span>
        <span class="font14">라이브채팅</span>
      </a>
    </li>
  </ul>
</div>

<ul class="ico_sns clearfix blind">
  <li>
    <a href="https://www.facebook.com/chadaeli7/" target="_blank"><img src="/static/images/mobile/ico_fb.gif" alt="페이스북" width="40" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/chadaeli_official/" target="_blank"><img src="/static/images/mobile/ico_instagram.gif" alt="인스타그램" width="40" /></a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCSqBhJZa71pUHwIuEj8rjMQ" target="_blank"><img src="/static/images/mobile/ico_youtube.gif" alt="유튜브" width="40" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/chadaeli7" target="_blank"><img src="/static/images/mobile/ico_twit.gif" alt="트위터" width="40" /></a>
  </li>
  <li>
    <a href="http://cafe.naver.com/chadaeli/" target="_blank"><img src="/static/images/mobile/ico_cafe.gif" alt="네이버까페" width="40" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://blog.naver.com/chadaeli/" target="_blank"><img src="/static/images/mobile/ico_blog.gif" alt="네이버블로그" width="40" /></a>
  </li>
</ul>

<div class="ico_request blind">
  <!--<a href="tel:1600-8218" style="color: #fff;display: inline-block;margin-right: 20px;font-size: 18px;">1600-8218</a>-->
  <a href="/request"><img src="/static/images/mobile/ico_mail.gif" alt="문의메일" width="40" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="http://plus.kakao.com/home/ov0qv67l" target="_blank"><img src="/static/images/mobile/ico_plus.gif" alt="플러스친구" width="40" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://talk.naver.com/ct/wc4ktq" target="_blank"><img src="/static/images/mobile/ico_taktak.gif" alt="네이버톡톡" width="40" /></a>
</div>

{{! <div class="txt-dev">test</div> }}