<div class="m_video">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <a href="http://blog.naver.com/chadaeli/221087084490" target="_blank" class="banner_m_event">
          <img src="/static/images/desktop/banner/main/ban_big_direct.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/special_item">
          <img src="/static/images/desktop/banner/main/ban_big_chadaeli.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/event/new">
          <img src="/static/images/desktop/banner/main/ban_big_new.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/event/suv">
          <img src="/static/images/desktop/banner/main/ban_big_suv.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/event/smallcar">
          <img src="/static/images/desktop/banner/main/ban_big_small_car.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/event/short_distance">
          <img src="/static/images/desktop/banner/main/ban_big_short_distance.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/event/car/1000">
          <img src="/static/images/desktop/banner/main/ban_big_price_1000.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/event/car/500">
          <img src="/static/images/desktop/banner/main/ban_big_price_500.jpg" alt="" class="img_thumbnail" />
        </a>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>