<div class="footer_p">
  <div class="footer_inner">
    <div class="footer_menu">
      <div class="ft_nav">
        <ol class="ft_list_nav clearfix">
          <li><a href="/">홈으로</a></li>
          <!--<li><span class="split">|</span></li>-->
          <!--<li><a href="/introduce" target="_blank">차대리 소개</a></li>-->
          <li><span class="split">|</span></li>
          <li><a href="/request" target="_blank">고객 문의</a></li>
          <li><span class="split">|</span></li>
          <li><a href="mailto:info@chadaeli.com">제휴문의</a></li>
          <li><span class="split">|</span></li>
          <li><a href="/privacy" target="_blank">개인정보취급방침</a></li>
          <li><span class="split">|</span></li>
          <!--<li><a href="#" target="_blank">이용약관</a></li>-->
          <!--<li><span class="split">|</span></li>-->
          <li><a href="http://cafe.naver.com/chadaeli" target="_blank">질문과 답변</a></li>
        </ol>
      </div>
    </div>

    <div class="ft_info">
      <div class="ft_info_nav">
        <h1 class="ft_logo">
          <a href="/" class="link_logo">
            <img src="/static/images/desktop/img_ft_logo.gif" alt="중고차1등안전거래, 차대리" />
          </a>
        </h1>
        <div class="addr_info">
          {{>ft_info}}
          <p>* 본 서비스의 모든 디자인과 상표권은 법적 보호를 받고 있으며, 이를 사전 허가 없이 도용할 경우 법적 책임을 물을 수 있습니다.</p>
        </div>
      </div>
      <div class="center copyright">Copyright ⓒ 2016 chadaeli.com All rights reserved.</div>
    </div>
  </div>
</div>