<div class="start_price">
  <img src="/static/images/desktop/ico/ico_question_startprice.gif" alt="시작가" /> <strong class="blue">차대리 시작가란?</strong>
  상품을 직접 소유한 딜러나 차주가 내놓은 최초가격입니다. 시장 상황에 따라서 이 가격은 유동적으로 변경되므로 가격협상이 항시 가능합니다.
  안전거래를 지향하는 차대리는 <strong>허위매물(없는 상품)</strong>이나 <strong>허위광고(가격의 일부만 게시)</strong>를 하거나 타 서비스와 같이 수시로 상품 금액이 변동되는 얄팍한 상술을 쓰지 않습니다.
  이 점은 <strong>차대리인증(동영상소개)</strong>과 <strong>출장서비스(전국출장)</strong>를 통해서 이미 차대리와 거래한 고객님들은 알고 계십니다.
  더 나은 서비스가 되고자 노력하겠습니다. 감사합니다^^
</div>