<div class="container center event_page">
  {{>hd}}

  <h2 class="font24 heading bold" style="margin-top: 40px;"><span class="orange">진행중인</span> <span class="blue">이벤트</span></h2>
  <ol class="evt_list">
    <!--<li><a href="http://blog.naver.com/chadaeli" target="_blank"><img src="/static/images/event/evt_instagram.jpg" alt="" class="img_event" /></a></li>-->
    <li><a href="http://blog.naver.com/chadaeli/221013704482" target="_blank"><img src="/static/images/event/evt_05.jpg" alt="" class="img_event" /></a></li>
    <li><a href="http://blog.naver.com/chadaeli" target="_blank"><img src="/static/images/event/evt_04.jpg" alt="" class="img_event" /></a></li>
    <li><img src="/static/images/event/evt_01.jpeg" alt="" class="img_event" /></li>
    <li><a href="https://www.facebook.com/chadaeli7/" target="_blank"><img src="/static/images/event/evt_02.jpeg" alt="" class="img_event" /></a></li>
    <li><img src="/static/images/event/evt_03.jpeg" alt="" class="img_event" /></li>
  </ol>

  <h2 class="font24 heading bold"><span class="orange">종료된</span> <span class="blue">이벤트</span></h2>
  <ol class="evt_list">
    <li><a href="http://blog.naver.com/chadaeli/221021570980" target="_blank"><img src="/static/images/event/evt_06.jpg" alt="" class="img_event" /></a></li>
    <li><a href="http://blog.naver.com/chadaeli" target="_blank"><img src="/static/images/event/evt_instagram.jpg" alt="" class="img_event" /></a></li>
  </ol>


  {{>ft}}
</div>

{{>cloud}}