{{#if (isEquals isMobile 1 )}}
  <div class="m_container">
    {{>hd}}
    <article class="m_chadaeli" style="border: 1px solid #fff;">
      <h3 class="center" style="margin-bottom: 20px;padding: 0 20px;">
        <!--<img src="/static/images/partnership/txt_partnership_01.gif" alt="" class="img_partnership" />-->
        변경사항 업데이트 중입니다.
      </h3>
      <div style="padding: 0 20px 40px 20px;text-align: center;">
        <!--<img src="/static/images/partnership/img_partnership_01.gif" alt="차대리캐릭터" width="80" />-->
        <!--<hr />-->
        <!--<img src="/static/images/partnership/img_partnership_02.gif" alt="차대리비전" width="160" />-->
        <!--<br /><br /><br />-->
        <!--<img src="/static/images/partnership/txt_partnership_12.gif" alt="" class="img_partnership" /><br /><br /><br />-->
        <!--<img src="/static/images/partnership/txt_partnership_11.gif" alt="" class="img_partnership" /><br />-->

        <!--&lt;!&ndash;<img src="/static/images/partnership/txt_partnership_02.gif" alt="" class="img_partnership" />&ndash;&gt;-->
        <!--<hr />-->
        <!--<img src="/static/images/partnership/txt_partnership_03.gif" alt="딜러의 고충" width="120" /><br /><br />-->
        <!--&lt;!&ndash;<img src="/static/images/partnership/img_partnership_04.gif" alt="" class="img_partnership" />&ndash;&gt;-->
        <!--<img src="/static/images/partnership/img_partnership_06.gif" alt="" class="img_partnership" /><br /><br />-->
        <!--<img src="/static/images/partnership/txt_partnership_13.gif" alt="" class="img_partnership" />-->
        <!--<hr />-->
        <!--<img src="/static/images/partnership/txt_partnership_05.gif" alt="" width="210" /><br /><br />-->
        <!--<img src="/static/images/partnership/img_partnership_03.gif" alt="" class="img_partnership" />-->
        <!--<hr />-->
        <!--<img src="/static/images/partnership/txt_partnership_06.gif" alt="" width="120" /><br /><br />-->
        <!--<img src="/static/images/partnership/img_partnership_05.gif" alt="" class="img_partnership" /><br /><br />-->
        <!--<img src="/static/images/partnership/txt_partnership_07.gif" alt="" width="220" />-->
        <!--<hr />-->
        <!--<img src="/static/images/partnership/txt_partnership_08.gif" alt="" width="220" /><br /><br />-->
        <!--<img src="/static/images/partnership/txt_partnership_09.gif" alt="" class="img_partnership" />-->
        <!--<p style="text-align: left;margin-top: 10px;font-size: 13px;" class="red">-->
          <!--* <strong>연회비</strong>는 차대리 온라인 마켓을 유지하는 비용으로 사용할 예정이며,-->
          <!--거래가 이루어질 경우만 합리적으로 <strong>수수료 10만원</strong>이 발생합니다.-->
          <!--자진해서 신고하여 납부하실 경우, <strong>10% 포인트</strong>를 드립니다.-->
          <!--향후 포인트는 차대리 온라인마켓에서만 사용하실 수 있는 <strong>광고 아이템</strong>으로 전환하실 수 있는 혜택을 드립니다.-->
          <!--파트너십에 관심이 있으신 분들은 주저하지 마시고 언제든지 연락주세요^^-->
        <!--</p>-->
        <!--<br />-->
        <!--<p style="font-size: 15px;line-height: 22px;">-->
          <!--<img src="/static/images/partnership/img_info_bank.gif" alt="카카오뱅크 계좌번호" class="img_partnership" /><br />-->
          <!--<br />카카오뱅크 (제이코퍼레이션 이재준)<br />-->
          <!--<strong style="font-size: 20px;">3333-01-7702813</strong>-->
        <!--</p><br />-->
        <!--<a href="/partnership/request" target="_blank">-->
          <!--<img src="/static/images/partnership/btn_partnership_request.gif" alt="" class="img_partnership" />-->
        <!--</a><br /><br />-->


        <a href="tel:1600-8218">
          차대리 제휴 문의<br />
          <img src="/static/images/partnership/txt_partnership_10.gif" alt="1600-8218" width="120" />
        </a>

      </div>
    </article>
    {{>m_ft}}
    {{>m_cloud}}
  </div>
{{else}}
{{! ============================ 여기서부터 PC용 뷰 ============================ }}
  <div class="container_p">
    {{>pc_header}}
    <div class="con_p partnership">
      <div>
        <!--<img src="/static/images/partnership/pc/img_partner_pc_01.jpg" alt="" width="1080" />-->
        <!--<img src="/static/images/partnership/pc/img_partner_pc_02.jpg" alt="" width="1080" />-->
        <!--<img src="/static/images/partnership/pc/img_partner_pc_03.jpg" alt="" width="1080" />-->
        <!--<img src="/static/images/partnership/pc/img_partner_pc_04.jpg" alt="" width="1080" />-->
        <!--<img src="/static/images/partnership/pc/img_partner_pc_05.jpg" alt="" width="1080" />-->
        변경 사항 업데이트중입니다.

        <div style="font-size: 30px;color: #00a0e9;margin-top: 100px;" class="center">
          제휴문의 <strong>1600-8218</strong>
        </div>
      </div>
    </div>
    {{>pc_footer}}
  </div>
{{/if}}