<div class="container text-center">
  <img src="/static/images/img_chadaeli.jpg" alt="" width="100%" /><br /><br />
  <p style="font-size: 24px;">중고차의 달인, <strong>차대리</strong>가 <br />곧, 고객님을 찾아갑니다.</p>
  <strong>Coming Soon!</strong>
</div>